<p>Let's play a game..</p>

<p>Type a word below and see What does Donald Trump think about it..</p>

<form action="show">
  <input type="text" name="question">
  <input type="submit" value="Find out here">
</form>
